.legendItem {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

#arduino {
    background-color: #2185d0;
}

#modeling {
    background-color: #db2828;
}

#python {
    background-color: #fbbd08;
}

.progress-background {
    height: 30px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
}

.link
{
    color: rgba(0,0,0,.87);
    text-decoration: none;
    background-color: none;
}
