{% extends "base.html" %}
{% block content %}
<div class="sixteen wide column">
    <br>
    <h1>Submitting tasks for: {{ team.name }}</h1>
    <hr>
    <br>
    <div class="ui stackable grid">
        {% for tech in techTuples %}
        <h2>{{ tech.type }} Tasks</h2>
        <div class="row">
            {% for task in tech.tasks %}
            <div class="four wide column">
                <form action="{{ url_for('tasks.submit_task', team_id=team.id) }}" method="GET">
                    <div class="ui {{ tech.color }} segment">
                        <h4>{{ task.name }}</h4>
                        <div><b>Type:</b> {{ task.type }}</div>
                        <div><b>Value:</b> {{ task.value }}</div>
                        <div><b>Details:</b> {{ task.description }}</div>
                        <input type="hidden" value="{{task.id}}" name="task_id">
                        <input type="Submit" value="Use as template" class="ui primary button">
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
