{% extends "base.html" %}

{% block title %}
<div class="sixteen wide column">
<div class="one wide row">
    <div></div>
    <h1 class="ui center aligned header">{{ team.name }} Overview</h1>
</div>
{% endblock %}


{% block content %}
<br>
{% if session.get('username') %}
    <div class="one wide row">
        <a href="{{ url_for('teams.edit_team_info', team_id=team.id) }}" class="ui button"> Edit Team Info</a>
    </div>
{% endif %}

{% for tech in techTuples %}
    <div class="one wide row">
        <div class="ui container center aligned">
            <h2 class="ui {{ tech.color }} header">{{ tech.type }} Tasks</h2>
        </div>
    </div>
    <div class="ui grid">
        <div class="twelve wide centered column">
            <div class="ui five column celled grid">
                <div class="row">
                {% if session.get('username') %}
                    <div class="column"></div>
                {% endif %}
                    <div class="column"><b>Task Name</b></div>
                    <div class="column"><b>Description</b></div>
                    <div class="column"><b>Value</b></div>
                    <div class="column"><b>Completed</b></div>
                </div>
                {% for task in tech.tasks %}
                    {% if task in team.tasks %}
                    <div class="row">
                    {% if session.get('username') %}
                        <div class="column">
                            <a class="ui negative button" href="{{ url_for('tasks.task_delete', task_id=task.id) }}">Delete</a>
                        </div>
                    {% endif %}
                        <div class="column"> {{ task.name }} </div>
                        <div class="column"> {{ task.description }} </div>
                        <div class="column"> {{ task.value }} </div>
                        <div class="column">Done!</div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

    <br>
    <br>
{% endfor %}

{% endblock %}
